body {
	font-family: 'Coda', cursive;
	background: #f5f5f5;
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;

  > .col,
  > [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
  }
}


.jumbotron {
	background-color: #f4511e;
	color: #ffffff;
}
.carousel-item img {
/*    -webkit-filter: grayscale(90%);
    filter: grayscale(90%); /* make all photos black and white */ */
    width: 100% !important; /* Set width to 100% */
    margin: auto ! important;
    height: 400px !important;
    object-fit: cover;
}

.carousel-inner .item a img {
	width: 100% !important;
}

.top-logo {
	position: absolute;
    top: 6%;
    text-align: center;
    width: 100%;
}

#searchForm {
	position:absolute;
  	top:60%;
  	justify-content: center;
}

.top-nav .nav {
	position: absolute;
	justify-content: center;
	top: 40%;
	width: 100%;
	text-align: center;
	padding-left: unset !important;
	border-bottom: unset !important;
}

/*.navbar-default .navbar-text {
  color: #ffffff !important;
}*/

.nav-tabs li {
	display: inline-block !important;
	float: none !important;
	color: #ffffff !important;
}

.nav-tabs li a {
	color: #ffffff;
}
.segment {
	border: 1px solid #eee;
    border-radius: 4px;
    padding-top: 15px;
    background: #fff;
}

.segment-right {
	border: 1px solid #eee;
    border-radius: 4px;
    margin-bottom: 20px;
	background: #fff;	
}

.segment-right p {
	margin-left: 5px;
	margin-top: 10px;
	margin-bottom: 10px !important;
}

.segment h6 {
	margin-left: 10px;
	margin-top: 5px; 
}

.segment-center {
	border: 1px solid #eee;
    border-radius: 4px;
	padding: 10px;
	background: #fff;
}

.categories {
	margin: 0 !important;
}

.categories nav {
	font-size: 15px;
}

.categories a {
	color: #666;
}
.categories a:hover {
	color: #dc3545;
}

.btn {
	border-radius: unset !important;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
	color: #333 !important;
    background-color: rgba(217, 79, 79, 0.05) !important;
}

.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    background-color: rgba(217, 79, 79, 0.05) !important;
}

.nav-pills>li>a {
    border-radius: 3px !important;
    color: #333;
}
.nav-pills>li {
	border-bottom: 1px solid color: #333	
}

.border-custom {
	border: 0.5px solid #eee;	
}
.full-width {
	width: 100%;
}

.card {
	margin-bottom: 20px;
}

.card-img-top {
	height: 300px;
}

.movie-title-container {
	/*text-align: left;*/
	position: absolute;
    background: black;
    width: 85%;
    color: #f3f3f3;
    left: 10%;
    opacity: 0.8;
    padding: 10px 10px 0px 10px;
    font-family: 'Coda', cursive;
    font-size: 13px;
}

.movie-title-container h5 {
	font-style: bold;
}

.triangle-topleft {
	position: absolute;
    left: 0;
    width: 100%;
	width: 0;
	height: 0;
	border-top: 35px solid #000;
    border-right: 181px solid transparent;
}

.title-rectangle {
	background-color: red;
	width: 70%;
	height: 25%;
}

.triangle-topLeft {
	margin-top: 20px;	
	width: 0;
	height: 0;
	border-top: 100px solid red;
	border-right: 100px solid transparent;
}

.carousel-inner>.item>img {
	width: 100%;
    object-fit: cover;
}

.tags-and-widget {
	margin-top: 40px;
}

.tags-grid {
	margin: 0 !important;
	font-size: 12px;
}

.tags-grid img {
	width: 30px;
    height: 30px;
    margin-bottom: 5px;
}
.tags-grid > div {
	padding: 12px 0px 0px;
	text-align: center; 
}

.tag-item {
	border: 0.5px solid #eee;
	padding: 10px 0px 0px
}

.tag-item a {
	color: #8b8d90;
}

.tag-item a:hover {
	text-decoration: none !important;
	color: #dc3545 !important;
}

.cover-thumbnail {
	height: 245px !important;
    object-fit: cover;
    width: 100%;
}

.movie-products{
	text-align: center;
	/*border: 0.5px solid #eee;*/
	margin-left: -5px;
    margin-right: -5px;
}

.thumbnail .caption {
	padding: unset;
}

.movie-products img {
    width: 50px;
    height: 50px;
    margin: 0 auto;
    margin-bottom: 5px;
    object-fit: cover;
    border: 1px solid rgba(220, 53, 69, 0.15);
}

.product-item {
	font-size: 11px;
    padding-top: 15%;
    text-transform: uppercase;
    color: #f6716d;

}

.product-item p {
	margin-bottom: unset !important;
}

.most-viewed {
	padding: 0px 10px 10px;
}

.most-viewed-item {
	position: relative;
	margin-bottom: 20px;
}

.recently-viewed-item {
	position: relative;
	margin-bottom: 20px;
}

.most-viewed-item:hover .overlay-full {
  opacity: 0.5;
}

.recently-viewed-item:hover .overlay {
  height: 50%;
}

.shop-now-text {	
  white-space: nowrap; 
  color: white;
  font-size: 10px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #313131;
  opacity: 0.8;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
}

.overlay-full {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #313131;
}

.mt-10 {
	margin-top: 10px;
}
.mt-3 {
	margin-top: 3px;
}

/*.img-circle {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	overflow: hidden;
}*/

}

@media (max-width: 600px) {
    .carousel-caption {
        display: none; /* Hide the carousel text when the screen is less than 600 pixels wide */
    }
}